html, body {margin: 0; padding: 0; font-family: monospace; }
h1 { padding: 10px; margin: 0; }
p { padding: 10px; margin: 0; }
.clear { clear: both; width: 100%; border: none; }
.full { width: 100%; margin: 1%; }
.half { width: 47.5%; margin: 1%; border: thin solid #0003; }
.quater { width: 22.5%; margin: 1%; border: thin solid #0003; }
.third { width: 30.85%; margin: 1%; border: thin solid #0003; }

.box { display: flex; flex-grow: 1; flex-wrap: wrap; }
.grid { display: grid; }
.layout1 {
  grid-template-columns: 3fr 5fr 1fr 3fr;
}
.layout2 {
  grid-template-columns: 10% 3fr 1.5fr 1fr;
}
.layout3 {
  grid-template-rows: 15% 2fr 1fr 2.5fr;
}
.layout4 {
  grid-template-rows: 2fr 1fr 15% 2.5fr;
}
.layout5 {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr 2fr;
}
.layout6 {
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 2fr 1fr;
}
.layout7 {
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  min-height: 150px;
}
.layout8 {
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 50% auto;
  min-height: 150px;
}
.layout7>div, .layout8>div { min-height: 50px; }
.layout7>div:nth-child(2) {
  grid-column: 2 / span 3;
  grid-row: 2 / 4;
}
.layout8>div:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 1 / 3;
}

.layout9 {
  grid-template-columns: 3fr 5fr 1fr 3fr;
}

.col { width: auto; padding: 10px; }
.exhi { min-height: 100px; }

.red { background: #C6DDC1; }
.green { background: #FECFB1; }
.orange { background: #F69175; }
.blue { background: #3F595A; color: white;  }
